@import 'variables.scss';
.hc-drag-image {
	position: absolute;
	top: -1000px;
	z-index: 1000;
	right: 0px;
	height: 30px;
	width: 100px;
	background-color: red;
}

.hc-design {
	min-height: $design-min-height;
} 

.hc-design-in-drag {
	background-color: $design-bck-color;
} 
.hc-design-target {
	background-color: $design-target-bck-color;
} 